# PRACTICA PROFESIONALIZANTE I

## Proyecto: Predicción de grasa corporal

### Docentes: 
* Pérez, Narciso
* Prado, Héctor
* Charletti, Carlos

### Alumnos:
* Ingaramo, Ma. Eugenia - Sala 1
* Lonardi, Pablo - Sala  1
* Margheim, Carolina - Sala 2
* Ontiveros, Manuel -  Sala 1
* Sosa, Rorigo - Sala 2
* Zenere, Mauricio - Sala 2

### Sobre Nosotros:
Somos una startup dedicada a resolver desafíos complejos de diferentes empresas u organizaciones utilizando para tal fin diferentes herramientas de ciencia de datos. Utilizamos diferentes herramientas de analisis, exploración, visualizacion y predicción de datos.

### Situación:

El Colegio de Nutricionistas se encuentra interesado en predecir.... Para lo mismo cuentan con un set de datos proporcionados por el Dr. A. Garth Fisher y el encargado del Departamento de Matematicas y Ciencias de la computación de la South Dakota School of Mines & Technology con el fin de ser estudiados para fines no comerciales.

(Lo que vamos a hacer en el notebook) El colegio nos solicita generar un modelo que.... (Ver ejemplo de Coder que subio Mauri para el storytelling)

(Lo que vamos a hacer en streamlit) Para finalizar nos solicitan un sistema web donde los colegiados puedan ingresar los valores de sus pacientes y obtener la predicción...

### Solución propuesta:

....

### Modelado:

Una vez obtenido el acceso a la base, se volcó el contenido de la misma a un archivo .csv. El cliente nos brindó una descripción de las variables presentes en el mismo, como así también el dominio o rango esperado de sus variables numéricas, en caso de que haya algún tipo de error en la base de datos. En una primera etapa se le prestará se le prestará especial atención a aquellas variables que contengan valores considerados absurdos e imposibles para el ser humano.

### Descripción  de variables:

Contexto: Enumera estimaciones del porcentaje de grasa corporal determinado mediante pesaje bajo el agua y varias mediciones de circunferencia corporal para 252 hombres

* Density (Densidad)
* Percent body fat (Porcentaje de grasa corporal)
* Age (Edad = años)
* Weight (Peso = lbs)
* Height (Altura = inches)
* Neck circumference (Circunferencia del cuello = cm)
* Chest circumference (Circunferencia del pecho = cm)
* Abdomen 2 circumference (Abdomen 2 circunferencia = cm)
* Hip circumference (Circunferencia de la cadera = cm)
* Thigh circumference (circunferencia del muslo = cm)
* Knee circumference (circunferencia de la rodilla = cm)
* Ankle circumference (Circunferencia del tobillo = cm)
* Biceps (extended) circumference (Circunferencia del bíceps (extendida) = cm)
* Forearm circumference (circunferencia del antebrazo = cm)
* Wrist circumference (Circunferencia de la muñeca = cm)

### 1-  Dependencies:

In [4]:
### Importar librerías:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 2-  Data Acquisition:

In [5]:
# Importar dataset  desde github (raw):
url="https://raw.githubusercontent.com/CaroMargh/Grupo1-PP1/main/data/bodyfat.csv"
# Leer dataset:
df = pd.read_csv(url)
# Mostrar dataset:
display(df)

,Density,BodyFat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
248,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
249,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
250,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
251,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

### 3-  Data Understanding:

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Density  252 non-null    float64
 1   BodyFat  252 non-null    float64
 2   Age      252 non-null    int64
 3   Weight   252 non-null    float64
 4   Height   252 non-null    float64
 5   Neck     252 non-null    float64
 6   Chest    252 non-null    float64
 7   Abdomen  252 non-null    float64
 8   Hip      252 non-null    float64
 9   Thigh    252 non-null    float64
 10  Knee     252 non-null    float64
 11  Ankle    252 non-null    float64
 12  Biceps   252 non-null    float64
 13  Forearm  252 non-null    float64
 14  Wrist    252 non-null    float64
dtypes: float64(14), int64(1)
memory usage: 29.7 KB

In [7]:
df.describe()

,Density,BodyFat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,1.055574,19.150794,44.884921,178.924405,70.148810,37.992063,100.824206,92.555952,99.904762,59.405952,38.590476,23.102381,32.273413,28.663889,18.229762
std,0.019031,8.368740,12.602040,29.389160,3.662856,2.430913,8.430476,10.783077,7.164058,5.249952,2.411805,1.694893,3.021274,2.020691,0.933585
min,0.995000,0.000000,22.000000,118.500000,29.500000,31.100000,79.300000,69.400000,85.000000,47.200000,33.000000,19.100000,24.800000,21.000000,15.800000
25%,1.041400,12.475000,35.750000,159.000000,68.250000,36.400000,94.350000,84.575000,95.500000,56.000000,36.975000,22.000000,30.200000,27.300000,17.600000
50%,1.054900,19.200000,43.000000,176.500000,70.000000,38.000000,99.650000,90.950000,99.300000,59.000000,38.500000,22.800000,32.050000,28.700000,18.300000
75%,1.070400,25.300000,54.000000,197.000000,72.250000,39.425000,105.375000,99.325000,103.525000,62.350000,39.925000,24.000000,34.325000,30.000000,18.800000
max,1.108900,47.500000,81.000000,363.150000,77.750000,51.200000,136.200000,148.100000,147.700000,87.300000,49.100000,33.900000,45.000000,34.900000,21.400000

### 4-  Data Preparation: